[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
social-auth-app-django = "*"
django-cors-headers = "*"
djangorestframework = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
