@import "tailwindcss";

/* Custom scrollbar for dark theme */
.chatList::-webkit-scrollbar {
  width: 8px;
  background: transparent; /* zinc-800 */
  border-radius: 8px;
}
.chatList::-webkit-scrollbar-thumb {
  background: #666565; /* indigo-600 */
  border-radius: 8px;
}
.chatList::-webkit-scrollbar-thumb:hover {
  background: #575757; /* indigo-500 */
}